@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  height: 100vh;
  background-color: #ffff;
  background-image: url("bg.jpeg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.logo_name {
  display: flex;
  align-items: center;
}
.logo img {
  height: 40px;
  width: 40px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #137dc5;
  font-size: 1rem;
}
a:hover {
  color: orange;
}
.nav_header {
  margin-top: 0 !important;
  position: fixed;
  width: 100%;
  padding: 0 2rem;
  background: linear-gradient(40deg, #FFFFFF, #E4E7F6, #CFD3EE);
  z-index: 1000;
}
.nav {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  font-weight: bold;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .logo a {
  font-size: 1.8rem;
  font-weight: bold;
}
.nav .link {
  display: flex;
  gap: 2rem;
}
.nav .toggle_btn {
  color: #137dc5;
  font: size 1.5em;
  cursor: pointer;
  display: none;
}
.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}
.action_btn:hover {
  scale: 1.05;
  color: #fff;
}
.action_btn:active {
  scale: 0.95;
}
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0 2rem 3rem rgba(0,0,0,.65);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1001;
}
.dropdown_menu.open {
  height: 135px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav .link,
  .nav .action_btn {
    display: none;
  }
  .nav .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
.user-dropdown-menu {
  display: block !important;
}

.user-dropdown-menu  h1{
  text-decoration: none;
  color: #137dc5;
  font-size: 1.5rem;
}




/* ======================================== */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Horizontally center the pop-up */
  align-items: center; /* Vertically center the pop-up */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1500;
}


.popup-content {
  position: relative; 
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.popup-content h2 {
  color: #137dc5;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #137dc5; /* Change this color if necessary */
  cursor: pointer;
  z-index: 1001;
  font-size: 1.5rem; 
}

input[type="text"],
input[type="email"],
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

input[type="submit"]:hover {
  scale: 1.05;
  color: #fff;

}

input[type="submit"]:active {
  scale: 0.95;
}

